body {
    padding-bottom: 0;
}

.game {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
    justify-content: space-evenly;
}

.game-footer {
    text-align: center;
}

.player-game-links-slider {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    margin-bottom: 10px;
}